# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Python environment
*.egg-info/

# Streamlit
.streamlit/secrets.toml